/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-rgb: 0, 0, 0;
  }
} */

/*여기서 부터*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;

  /* 모든 변화에 animation 적용 */
  transition: all 0.3s ease-in-out;
}

html,
body {
  /* 좌우 스크롤 금지 */
  overflow-x: hidden;
}

/* 스크롤 바 숨기기 */
::-webkit-scrollbar {
  display: none;
}

section {
  /* transition */
  transition: all 0s ease-in-out !important;
}

h1,
h2,
h3,
h4,
span,
p,
a,
button,
input,
textarea,
label,
li,
ul,
ol {
  /* text 컬러 */
  color: black;
}

a {
  text-decoration: none;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
} */

@font-face {
  font-family: 'Pacifico';
  font-style: normal;
  font-weight: 400;
  src: local('Pacifico Regular'), local('Pacifico-Regular'),
    url(https://fonts.gstatic.com/s/pacifico/v12/FwZY7-Qmy14u9lezJ-6H6MmBp0u-.woff2)
      format('woff2');
  font-display: swap;
}
